/AnticipativeTask.class
/PredictableInteraction.class
/Task.class
/TaskManager.class
/BasicInteractionTask.class
/FutureTaskPreparer.class
/ItemsRequiredTask.class
/ParentTask.class
/SpaceRequiredTask.class
